<% include header %>
<h1><%= title %></h1>
<main id="container" class="container" >
	<form method="post" id="main" data-level="0">
		输入你的姓名<input type="text" name="user">
		<input type="hidden" name="level" value="0">
		<input type="hidden" name="isSuccess" value="">
		<input type="submit" >
	</form>
</main>
<% include footer %>