<% include header %>
<% include recorder %>
<main id="container" class="container">
	<form method="post" id="main" data-level="3">
		<p>事件、IE与火狐的事件机制有什么区别？ 如何阻止冒泡？</p>
		<input type="text" name="test3" >
		<input type="hidden" name="level" name="level" value="3">
		<input type="hidden" name="isSuccess" value="">
		<input type="submit" name="submit">
	</form>
</main>



<% include footer %>
<script type="text/javascript">
	Recorder(10);
</script>