<% include header %>
<% include recorder %>
<main id="container" class="container">
	<form method="post" id="main" data-level="4">
		<p>ajax 是什么,JSON是什么,JSONP又是什么. 这3个有什么联系和区别么?</p>
		<input type="text" name="test4" value="" id="test4">
		<input type="hidden" name="level" value="4">
		<input type="hidden" name="isSuccess" value="">
		<input type="submit">
	</form>
</main>



<% include footer %>
<script type="text/javascript">
	Recorder(10);
</script>