<% include header %>
<% include recorder %>
<link rel="stylesheet" href="/stylesheets/level1.css">
<main id="container" class="container">
		<form method="post" id="main" data-level="2">
			<h1><%= title %></h1>
			<h3><%= user %></h3>
	<pre><code>
		["1", "2", "3"].map(parseInt) 答案是多少,为什么?
	</code></pre>
			<input type="text" name="test2" >
			<input type="text" name="test2_reason" id="test2_reason">
			<input type="hidden" name="level" name="level" value="2">
			<input type="hidden" name="isSuccess" value="">
			<input type="submit" name="submit">
		</form>
	
</main>

<script type="text/javascript" src="javascripts/level2.js"></script>
<% include footer %>

<script type="text/javascript">
	Recorder(20);
</script>