<% include header %>
<% include recorder %>
<main id="container" class="container">
	<form method="post" id="main" data-level="3">
		<h1><%= title %></h1>
		<h3><%= user %></h3>
		<pre><code>
&lt;div id="A"&gt;A
	&lt;div class="B"&gt;B&lt;/div&gt;
&lt;/div&gt;
		</code></pre>
<pre><code>
#A,.B{
	width:200px;
	height: 200px;
}
#A{
	background: red;
}
.B{
	background: blue;
}
.B #A{
	background: yellow;
}
#A .B{
	background: green;
}
</code></pre>
	<p>请问B的颜色是什么。。</p>
		<input type="text" name="test3" >
		<input type="hidden" name="level" name="level" value="3">
		<input type="hidden" name="isSuccess" value="">
		<input type="submit" name="submit">
	</form>
</main>



<% include footer %>
<script type="text/javascript">
	Recorder(10);
</script>